@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #000;
  --white: #fff;
  --blue: #007bff;
}


.header {
  background-color: #fff;
  color: #000;
  padding: 20px;
}

.app-logo {
  color: #000;
  font-size: 1.5em;
  font-weight: bold;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-button {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  padding: 20px;
  transition: right 0.3s ease-in-out;
}

.menu.show {
  right: 0;
}

.menu-item {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}

.menu-item-secondary {
  color: black;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}
.menu-item-secondary:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .menu-button, .close-button {
    display: block;
  }
}

@media (min-width: 769px) {
  .menu {
    position: static;
    height: auto;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
  }

  .menu-item {
    margin-left: 20px;
  }
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 2em;
}


.menu-button, .close-button {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  display: none;
}


@media (max-width: 768px) {
  .menu-button, .close-button {
    display: block;
  }
}

.primary-btn {
  background-color: #333; /* dark gray background */
  color: #fff; /* white text */
  border: none; /* remove default border */
  padding: 10px 20px; /* add padding */
  margin: 5px; /* add margin */
  border-radius: 5px; /* rounded corners */
  cursor: pointer; /* change cursor on hover */
  transition: background-color 0.3s ease; /* transition for hover effect */
}

.primary-btn:hover {
  background-color: #555; /* lighter gray on hover */
}

.secondary-btn {
  background-color: #fff; /* white background */
  color: #333; /* dark gray text */
  border: 1px solid #333; /* dark gray border */
  padding: 10px 20px; /* add padding */
  margin: 5px; /* add margin */
  border-radius: 5px; /* rounded corners */
  cursor: pointer; /* change cursor on hover */
  transition: background-color 0.3s ease; /* transition for hover effect */
}

.secondary-btn:hover {
  background-color: #f0f0f0; /* light gray on hover */
}

.home-container {
  display: flex;
  justify-content: center;
  margin-top: 20vh;
  height: 50vh;
  padding-left: 5vw;
  padding-right: 5vw;
  background-color: var(--background-color); /* Use a CSS variable from globals.css */
}

.hero {
  text-align: center;
  animation: fadeIn 2s ease-in-out;
}

.hero-title {
  font-size: 3em;
  color: var(--title-color); /* Use a CSS variable from globals.css */
}

.hero-paragraph {
  font-size: 1.5em;
  margin-top: 5vh;
  color: var(--paragraph-color); /* Use a CSS variable from globals.css */
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.hero-highlight {
  text-decoration: underline;
}

.hero-button {
  background-color: black;
  color: white;
  border: none;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  margin-top: 5vh;
}

.hero-button:hover {
  transform: scale(1.1);
}

/* pages/product.css */
.product-container {
  animation: fadeIn 3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option-group-container {
  display: flex;
  justify-content: center;
}

.option-group {
  margin-left: 10px;
  margin-right: 10px;
}

.option-group input {
  margin-right: 5px; /* adjust as needed */
}

/* or */

.option-group label {
  margin-left: 5px; /* adjust as needed */
}

.input-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.styled-input,
.styled-textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
}

.button-group {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.section-title {
  font-weight: 600;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.examnify-data-container {
  margin-top: 5vh;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid black;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-message {
  margin-left: 10px;
  font-size: 20px; /* adjust as needed */
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.result-container {
  animation: fadeIn 3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.output-container {
  padding: 20px;
  background-color: #f9f9f9; /* adjust as needed */
  border-radius: 5px; /* adjust as needed */
  margin-top: 20px; /* adjust as needed */
}

.output-title {
  margin-bottom: 40px; /* adjust as needed */
}

.output-text {
  font-size: 16px; /* adjust as needed */
}

.mock-exam-output {
  margin-top: 20px; /* adjust as needed */
}

.mock-exam-item {
  margin-bottom: 20px; /* adjust as needed */
}

.mock-exam-options {
  margin-left: 20px; /* adjust as needed */
}

.mock-exam-answer {
  font-weight: bold; /* adjust as needed */
}

.outline-output {
  margin-top: 20px; /* adjust as needed */
}

.nested-object-container {
  padding: 10px;
  background-color: #f9f9f9; /* adjust as needed */
  border-radius: 5px; /* adjust as needed */
  margin-bottom: 10px; /* adjust as needed */
}

.nested-object-title {
  margin-bottom: 10px; /* adjust as needed */
  font-weight: bold; /* adjust as needed */
}

.nested-object-value {
  font-size: 14px; /* adjust as needed */
}

.flashcard-output {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flashcard-item {
  background-color: #f9f9f9; /* adjust as needed */
  border-radius: 5px; /* adjust as needed */
  padding: 20px; /* adjust as needed */
  margin: 10px; /* adjust as needed */
  width: 200px; /* adjust as needed */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* adjust as needed */
}

.flashcard-item h4 {
  margin-bottom: 20px; /* adjust as needed */
}

.flashcard-item p {
  font-size: 16px; /* adjust as needed */
}